{% extends 'base.html' %}

{% block title %}Home - My E-Commerce Store{% endblock %}

{% block content %}

<script>
    $(document).ready(function() {
      $('#myModal').modal('show');
    });
const modalBody = document.querySelector('#myModal');
const centerModalFields = () => {
  modalBody.querySelectorAll('input, select, textarea').forEach(field => {
    field.style.margin = '0 auto';
    });
  };
  function forgotPassModal(){
    $('#myModal').modal('hide');
    $('#forgotPassModal').modal('show');
  }
</script>

<div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reset Password</h5>
          <button type="button" class="close" onclick="location.href='/';" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <section class="section">
            <div class="container">
              <form method="POST" action="/changepassword">
                {{ form.hidden_tag() }}
                {{ form.hidden_tag() }}
                {% with messages = get_flashed_messages(category_filter=["error"]) %}
                    {% if messages %}
                      <ul>
                      {% for message in messages %}
                        <li>{{ message }}</li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                    {% endwith %}
                <div>
                    {{ form.old_password.label }}
                    {{ form.old_password(size=20) }}
                </div>
        
                <div>
                    {{ form.new_password.label }}
                    {{ form.new_password(size=20) }}
                </div>
        
                <div>
                    {{ form.confirm_new_password.label }}
                    {{ form.confirm_new_password(size=20) }}
                </div>
        
                <div>
                    {{ form.submit() }}
                </div>
              </form>
            </div>
        </section>
      </div>
    </div>
  </div>

    {% endblock %}
