{% extends 'base.html' %}

{% block title %}Home - My E-Commerce Store{% endblock %}

{% block content %}

<script>
    $(document).ready(function() {
  $('#myModal').modal('show');
});

const modalBody = document.querySelector('#myModal');

const centerModalFields = () => {
  modalBody.querySelectorAll('input, select, textarea').forEach(field => {
    field.style.margin = '0 auto';
  });
};
    </script>

<div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Forgot Password</h5>
          <button type="button" class="close" onclick="location.href='/';" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <section class="section">
            <div class="container">
              <div>
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                  {% if errors %}
                  <ul>
                  {% for msg in errors %}
                    <li>{{ msg }}</li>
                  {% endfor %}
                  </ul>
                  {% endif %}
                {% endwith %}
              </div>
            <p>Please enter otp sent to Email.</p>
            <form method="POST" action="/verifyEmail">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.email.label }}
                    <input type="email" id="email" name="email" value="{{ email }}" required>
                </div>
                <div>
                    {{ form.otp.label }}
                    {{ form.otp(size=6) }}
                </div>
                <div class="mb-md-1">
                    <button class="btn btn-primary" type="submit" value="Reset Password">Reset Password</button>
                </div>
            </form>
            </div>
        </section>
      </div>
    </div>
  </div>

    {% endblock %}
