{% extends 'base.html' %}

{% block title %}Home - My E-Commerce Store{% endblock %}

{% block content %}

<script>
    $(document).ready(function() {
  $('#myModal').modal('show');
});

const modalBody = document.querySelector('#myModal');

const centerModalFields = () => {
  modalBody.querySelectorAll('input, select, textarea').forEach(field => {
    field.style.margin = '0 auto';
  });
};
    </script>

<div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reset</h5>
          <button type="button" class="close" onclick="location.href='/';" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <section class="section">
            <div class="container">
            <h2>Reset Password</h2>
            <form method="POST" action="/resetpassword">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.password.label }}
                    {{ form.password(size=20) }}
                </div>
                <div>
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password(size=20) }}
                </div>
                <div class="mb-md-1">
                    <button class="btn btn-primary" type="submit" value="Reset Password">Reset</button>
                </div>
            </form>
            </div>
        </section>
      </div>
    </div>
  </div>

    {% endblock %}
